numpy==1.23.5
diffusers==0.23.0
transformers==4.34.1
tokenizers==0.14.1
huggingface-hub==0.17.3
accelerate==0.20.3
peft==0.5.0
insightface==0.7.3
onnxruntime-gpu==1.16.0
gradio==3.50.0
pyyaml>=5.1
safetensors>=0.3.1
Pillow
scipy
matplotlib
opencv-python
albumentations
scikit-image
scikit-learn
easydict
prettytable
cython
onnx